data/1M.txt
data/1000.txt
data/all-files.txt
main
FileFind.git
.DS_Store
data/files.db*
data/files.db-journal
test.db-shm
test.db-wal
cmd/service/service
cmd/service/main.txt
cmd/service/main.txt.old.old
cmd/service/main.txt.old
cmd/tools/check-files
cmd/tools/create-db/create-db
cmd/tools/scan-disk/scan-disk
cmd/service/out.txt
cmd/service/findfiles
