main
/everythingx
.vscode/
/cli
/service
.DS_Store
**/*.db-shm
**/*.db-wal
cmd/tools/create-db/create-db
cmd/tools/scan-disk/scan-disk
cmd/service/out.txt
cmd/tools/check-files/check-files
e2eTest/everythingx_test
tools/monitor-resource-usage/everythingxd_usage.log
tools/benchmark-db/benchmark-db
tools/benchmark-db/benchmark.db
tools/benchmark-db/files.db.gz
tools/benchmark-db/nohup.out
/bin/
everythingx.zip
**/__debug_*
everythingx_test/*
e2eTest/e2etest
tools/benchmark-db/crash2.out
EverythingX.app/*
package/*
EverythingX.pkg
