data/1M.txt
data/1000.txt
data/all-files.txt
main
FileFind.git
.DS_Store
data/files.db*
data/files.db-journal
test.db-shm
test.db-wal
cmd/service/main.txt
cmd/service/main.txt.old.old
cmd/service/main.txt.old
cmd/tools/create-db/create-db
cmd/tools/scan-disk/scan-disk
cmd/service/out.txt
cmd/tools/check-files/check-files
data/myscan-md5.txt
data/md5-go-scan.txt
e2eTest/findfiles_test
tools/monitor-resource-usage/findfilesd_usage.log
tools/benchmark-db/benchmark-db
tools/benchmark-db/benchmark.db
tools/benchmark-db/files.db.gz
tools/benchmark-db/benchmark.db-wal
tools/benchmark-db/benchmark.db-shm
tools/benchmark-db/nohup.out
/bin/
everythingx.zip
