<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.example.filefind</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/alan/Documents/git/fsevents/example/main</string>
        <string>-path /</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardErrorPath</key>
    <string>/var/log/filefind.err</string>
    <key>StandardOutPath</key>
    <string>/var/log/filefind.out</string>
</dict>
</plist>
